.group-4,
.group-4 * {
  box-sizing: border-box;
}
.group-4 {
  height: 878px;
  position: relative;
}
.group-3 {
  width: 1918px;
  height: 878px;
  position: static;
}
.header {
  background: #123478;
  width: 1918px;
  height: 46.68px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.footer {
  background: #123478;
  width: 1918px;
  height: 72.43px;
  position: absolute;
  left: 0px;
  top: 805.57px;
}
.group-2 {
  width: 1918px;
  height: 758.89px;
  position: static;
}
.main {
  background: #ffffff;
  width: 1918px;
  height: 758.89px;
  position: absolute;
  left: 0px;
  top: 43.68px;
}
.hamburger-icon-svg-1 {
  width: 33px;
  height: 26.56px;
  position: absolute;
  left: 13px;
  top: 33.21px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
}
.group-1 {
  width: 385px;
  height: 766px;
  position: static;
}
.manual-operation-box {
  background: #d9d9d9;
  width: 385px;
  height: 766px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.manual-operation-header {
  background: #282828;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 385px;
  height: 28px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.manual-operation-main {
  background: #e6e6e6;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 385px;
  height: 739px;
  position: absolute;
  left: 0px;
  top: 27px;
}
.close {
  width: 17px;
  height: 15px;
  position: absolute;
  left: 359px;
  top: 6px;
  object-fit: cover;
}
.manual-operation {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 5px;
  top: 3px;
  -webkit-text-stroke: 1px #000000;
}
.auto {
  background: #c5c5c5;
  width: 160px;
  height: 32px;
  position: absolute;
  left: 27px;
  top: 52px;
}
.plc-auto {
  background: #e3e3e3;
  width: 7px;
  height: 28px;
  position: absolute;
  left: 179px;
  top: 54px;
}
.auto2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 33px;
  top: 56px;
}
.manual {
  background: #c5c5c5;
  width: 160px;
  height: 32px;
  position: absolute;
  left: 200px;
  top: 52px;
}
.plc-manual {
  background: #e3e3e3;
  width: 7px;
  height: 28px;
  position: absolute;
  left: 352px;
  top: 54px;
}
.manual2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 206px;
  top: 56px;
}
.pumping {
  background: #c5c5c5;
  width: 333px;
  height: 32px;
  position: absolute;
  left: 27px;
  top: 94px;
}
.plc-pumping {
  background: #e3e3e3;
  width: 7px;
  height: 28px;
  position: absolute;
  left: 352px;
  top: 96px;
}
.pumping-station {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 33px;
  top: 99px;
}
.high-vacuum-pump {
  background: #c5c5c5;
  width: 333px;
  height: 32px;
  position: absolute;
  left: 27px;
  top: 138px;
}
.plc-high-vacuum {
  background: #e3e3e3;
  width: 7px;
  height: 28px;
  position: absolute;
  left: 352px;
  top: 140px;
}
.high-vacuum-pump2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 33px;
  top: 143px;
}
.evacuate-fine {
  background: #c5c5c5;
  width: 333px;
  height: 32px;
  position: absolute;
  left: 27px;
  top: 181px;
}
.plc-evacuate-fine {
  background: #e3e3e3;
  width: 7px;
  height: 28px;
  position: absolute;
  left: 352px;
  top: 183px;
}
.evacuate-fine-vaccum {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 33px;
  top: 186px;
}
.evacuate-high {
  background: #c5c5c5;
  width: 333px;
  height: 32px;
  position: absolute;
  left: 27px;
  top: 224px;
}
.plc-evacuate-high {
  background: #e3e3e3;
  width: 7px;
  height: 28px;
  position: absolute;
  left: 352px;
  top: 226px;
}
.evacuate-high-vaccum {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 33px;
  top: 229px;
}
.fur-pre-control {
  background: #c5c5c5;
  width: 333px;
  height: 32px;
  position: absolute;
  left: 27px;
  top: 267px;
}
.plc-fur-control {
  background: #e3e3e3;
  width: 7px;
  height: 28px;
  position: absolute;
  left: 352px;
  top: 269px;
}
.furnace-pressure-control {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 33px;
  top: 272px;
}
.fur-hit {
  background: #c5c5c5;
  width: 333px;
  height: 32px;
  position: absolute;
  left: 27px;
  top: 311px;
}
.plc-fur-hit {
  background: #e3e3e3;
  width: 7px;
  height: 28px;
  position: absolute;
  left: 352px;
  top: 313px;
}
.furnace-heating {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 33px;
  top: 316px;
}
.n-2 {
  background: #c5c5c5;
  width: 333px;
  height: 32px;
  position: absolute;
  left: 27px;
  top: 354px;
}
.plc-n-2 {
  background: #e3e3e3;
  width: 7px;
  height: 28px;
  position: absolute;
  left: 352px;
  top: 356px;
}
.n-2-inlet {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 33px;
  top: 359px;
}
.ar {
  background: #c5c5c5;
  width: 333px;
  height: 32px;
  position: absolute;
  left: 27px;
  top: 397px;
}
.plc-ar {
  background: #e3e3e3;
  width: 7px;
  height: 28px;
  position: absolute;
  left: 352px;
  top: 399px;
}
.ar-inlet {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 33px;
  top: 402px;
}
.venting {
  background: #c5c5c5;
  width: 333px;
  height: 32px;
  position: absolute;
  left: 27px;
  top: 440px;
}
.plc-venting {
  background: #e3e3e3;
  width: 7px;
  height: 28px;
  position: absolute;
  left: 352px;
  top: 442px;
}
.venting2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 33px;
  top: 445px;
}
.venting-n-2 {
  background: #c5c5c5;
  width: 333px;
  height: 32px;
  position: absolute;
  left: 27px;
  top: 483px;
}
.plc-venting-n-2 {
  background: #e3e3e3;
  width: 7px;
  height: 28px;
  position: absolute;
  left: 352px;
  top: 485px;
}
.venting-n-22 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 33px;
  top: 488px;
}
.venting-ar {
  background: #c5c5c5;
  width: 333px;
  height: 32px;
  position: absolute;
  left: 27px;
  top: 527px;
}
.plc-venting-ar {
  background: #e3e3e3;
  width: 7px;
  height: 28px;
  position: absolute;
  left: 352px;
  top: 529px;
}
.venting-ar2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 33px;
  top: 532px;
}
.fastcooling {
  background: #c5c5c5;
  width: 333px;
  height: 32px;
  position: absolute;
  left: 27px;
  top: 570px;
}
.plc-fastcooling {
  background: #e3e3e3;
  width: 7px;
  height: 28px;
  position: absolute;
  left: 352px;
  top: 572px;
}
.fastcooling2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 33px;
  top: 575px;
}
.manual-leaktest {
  background: #c5c5c5;
  width: 333px;
  height: 32px;
  position: absolute;
  left: 27px;
  top: 613px;
}
.plc-leak {
  background: #e3e3e3;
  width: 7px;
  height: 28px;
  position: absolute;
  left: 352px;
  top: 615px;
}
.manual-leaktest2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 33px;
  top: 618px;
}
.open-lid {
  background: #c5c5c5;
  width: 333px;
  height: 32px;
  position: absolute;
  left: 27px;
  top: 669px;
}
.plc-open-lid {
  background: #e3e3e3;
  width: 7px;
  height: 28px;
  position: absolute;
  left: 352px;
  top: 671px;
}
.open-lid-clamps {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 33px;
  top: 674px;
}
.close-lid {
  background: #c5c5c5;
  width: 333px;
  height: 32px;
  position: absolute;
  left: 27px;
  top: 712px;
}
.plc-close-lid {
  background: #e3e3e3;
  width: 7px;
  height: 28px;
  position: absolute;
  left: 352px;
  top: 714px;
}
.close-lid-clamps {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 33px;
  top: 717px;
}
