.group-1,
.group-1 * {
  box-sizing: border-box;
}
.group-1 {
  height: 878px;
  position: relative;
}
.wrapper {
  width: 1918px;
  height: 878px;
  position: static;
}
.header {
  background: #123478;
  width: 1918px;
  height: 46.68px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.footer {
  background: #123478;
  width: 1918px;
  height: 72.43px;
  position: absolute;
  left: 0px;
  top: 805.57px;
}
.main {
  background: #ffffff;
  width: 1918px;
  height: 758.89px;
  position: absolute;
  left: 0px;
  top: 46.68px;
}
.hamburger-icon-svg-1 {
  width: 33px;
  height: 26.56px;
  position: absolute;
  left: 13px;
  top: 36.21px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
}
.tem-box {
  background: #d9d9d9;
  width: 473px;
  height: 747px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.tem-header {
  background: #282828;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 473px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.tem-main {
  background: #e6e6e6;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 473px;
  height: 703px;
  position: absolute;
  left: 0px;
  top: 44px;
}
.close {
  width: 40px;
  height: 23px;
  position: absolute;
  left: 420px;
  top: 12px;
  object-fit: cover;
}
.temperature {
  color: #ffffff;
  text-align: left;
  
  font-size: 27px;
  font-weight: 700;
  position: absolute;
  left: 11px;
  top: 5px;
  width: 263px;
  height: 36px;

}
.cz-1 {
  background: #fa8f8f;
  width: 437px;
  height: 32px;
  position: absolute;
  left: 18px;
  top: 78px;
}
.heater-bottom-top-cz-1 {
  color: #000000;
  text-align: left;
  
  font-size: 23px;
  font-weight: 400;
  position: absolute;
  left: 26px;
  top: 80px;
  width: 312px;
  height: 22px;
}
.cz-1-box-1 {
  background: #ffffff;
  width: 180px;
  height: 32px;
  position: absolute;
  left: 18px;
  top: 111px;
}
.tic-4-1-1 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 26px;
  top: 115px;
  width: 96px;
  height: 22px;
}
.cz-1-val-1 {
  background: #ffffff;
  width: 256px;
  height: 32px;
  position: absolute;
  left: 199px;
  top: 111px;
}
.cz-1-box-2 {
  background: #ffffff;
  width: 180px;
  height: 31px;
  position: absolute;
  left: 18px;
  top: 144px;
}
.tic-4-1-2 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 26px;
  top: 148px;
  width: 102px;
  height: 22px;
}
.cz-1-val-2 {
  background: #ffffff;
  width: 256px;
  height: 31px;
  position: absolute;
  left: 199px;
  top: 144px;
}
.cz-3 {
  background: #fa8f8f;
  width: 437px;
  height: 31px;
  position: absolute;
  left: 18px;
  top: 177px;
}
.heater-doors-cz-3 {
  color: #000000;
  text-align: left;
  
  font-size: 23px;
  font-weight: 400;
  position: absolute;
  left: 26px;
  top: 178px;
  width: 236px;
  height: 22px;
}
.cz-3-box-1 {
  background: #ffffff;
  width: 180px;
  height: 31px;
  position: absolute;
  left: 18px;
  top: 209px;
}
.tic-4-3-1 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 26px;
  top: 213px;
  width: 102px;
  height: 22px;
}
.cz-3-val-1 {
  background: #ffffff;
  width: 256px;
  height: 31px;
  position: absolute;
  left: 199px;
  top: 209px;
}
.cz-3-box-2 {
  background: #ffffff;
  width: 180px;
  height: 30px;
  position: absolute;
  left: 18px;
  top: 242px;
}
.tic-4-3-2 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 26px;
  top: 247px;
  width: 107px;
  height: 21px;
}
.cz-3-val-2 {
  background: #ffffff;
  width: 256px;
  height: 30px;
  position: absolute;
  left: 199px;
  top: 242px;
}
.cz-5 {
  background: #fa8f8f;
  width: 437px;
  height: 30px;
  position: absolute;
  left: 18px;
  top: 282px;
}
.heater-walls-cz-5 {
  color: #000000;
  text-align: left;
  
  font-size: 23px;
  font-weight: 400;
  position: absolute;
  left: 26px;
  top: 283px;
  width: 225px;
  height: 20px;
}
.cz-5-box-1 {
  background: #ffffff;
  width: 180px;
  height: 31px;
  position: absolute;
  left: 18px;
  top: 314px;
}
.tic-4-5-1 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 26px;
  top: 318px;
  width: 102px;
  height: 20px;
}
.cz-5-val-1 {
  background: #ffffff;
  width: 256px;
  height: 31px;
  position: absolute;
  left: 199px;
  top: 314px;
}
.cz-5-box-2 {
  background: #ffffff;
  width: 180px;
  height: 31px;
  position: absolute;
  left: 18px;
  top: 347px;
}
.tic-4-5-2 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 26px;
  top: 351px;
  width: 107px;
  height: 20px;
}
.cz-5-val-2 {
  background: #ffffff;
  width: 256px;
  height: 31px;
  position: absolute;
  left: 199px;
  top: 347px;
}
.load {
  background: #fa8f8f;
  width: 437px;
  height: 30px;
  position: absolute;
  left: 18px;
  top: 384px;
}
.load2 {
  color: #000000;
  text-align: left;
  
  font-size: 23px;
  font-weight: 400;
  position: absolute;
  left: 26px;
  top: 384px;
  width: 60px;
  height: 23px;
}
.load-box-1 {
  background: #ffffff;
  width: 180px;
  height: 31px;
  position: absolute;
  left: 18px;
  top: 418px;
}
.ti-4-61 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 26px;
  top: 422px;
  width: 79px;
  height: 21px;
}
.load-val-1 {
  background: #ffffff;
  width: 256px;
  height: 31px;
  position: absolute;
  left: 199px;
  top: 418px;
}
.charge {
  background: #fa8f8f;
  width: 437px;
  height: 31px;
  position: absolute;
  left: 18px;
  top: 458px;
}
.charge-temperatures {
  color: #000000;
  text-align: left;
  
  font-size: 23px;
  font-weight: 400;
  position: absolute;
  left: 26px;
  top: 459px;
  width: 253px;
  height: 20px;
}
.charge-box-1 {
  background: #ffffff;
  width: 180px;
  height: 30px;
  position: absolute;
  left: 18px;
  top: 492px;
}
.ti-4-26 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 26px;
  top: 495px;
  width: 84px;
  height: 20px;
}
.charge-val-1 {
  background: #ffffff;
  width: 256px;
  height: 30px;
  position: absolute;
  left: 199px;
  top: 491px;
}
.charge-box-2 {
  background: #ffffff;
  width: 180px;
  height: 30px;
  position: absolute;
  left: 18px;
  top: 524px;
}
.ti-4-27 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 26px;
  top: 526px;
  width: 82px;
  height: 22px;
}
.charge-val-2 {
  background: #ffffff;
  width: 256px;
  height: 30px;
  position: absolute;
  left: 199px;
  top: 524px;
}
.charge-box-3 {
  background: #ffffff;
  width: 180px;
  height: 32px;
  position: absolute;
  left: 18px;
  top: 555px;
}
.ti-4-28 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 26px;
  top: 559px;
  width: 84px;
  height: 22px;
}
.charge-val-3 {
  background: #ffffff;
  width: 256px;
  height: 32px;
  position: absolute;
  left: 199px;
  top: 555px;
}
.charge-box-4 {
  background: #ffffff;
  width: 180px;
  height: 32px;
  position: absolute;
  left: 18px;
  top: 588px;
}
.ti-4-29 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 26px;
  top: 592px;
  width: 84px;
  height: 22px;
}
.charge-val-4 {
  background: #ffffff;
  width: 256px;
  height: 32px;
  position: absolute;
  left: 199px;
  top: 588px;
}
.fastcooling {
  background: #fa8f8f;
  width: 437px;
  height: 31px;
  position: absolute;
  left: 18px;
  top: 627px;
}
.fastcooling2 {
  color: #000000;
  text-align: left;
  
  font-size: 23px;
  font-weight: 400;
  position: absolute;
  left: 26px;
  top: 628px;
  width: 136px;
  height: 22px;
}
.fastcooling-box-1 {
  background: #ffffff;
  width: 180px;
  height: 33px;
  position: absolute;
  left: 18px;
  top: 659px;
}
.ti-12-7 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 26px;
  top: 664px;
  width: 78px;
  height: 21px;
}
.fastcooling-val-1 {
  background: #ffffff;
  width: 256px;
  height: 33px;
  position: absolute;
  left: 199px;
  top: 659px;
}
.fastcooling-box-2 {
  background: #ffffff;
  width: 180px;
  height: 32px;
  position: absolute;
  left: 18px;
  top: 693px;
}
.ti-12-8 {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 26px;
  top: 697px;
  width: 79px;
  height: 21px;
}
.fastcooling-val-2 {
  background: #ffffff;
  width: 256px;
  height: 32px;
  position: absolute;
  left: 199px;
  top: 693px;
}
