.group-1,
.group-1 * {
  box-sizing: border-box;
}
.group-1 {
  height: 878px;
  position: relative;
}
.wrapper {
  width: 1918px;
  height: 878px;
  position: static;
}
.header {
  background: #123478;
  width: 1918px;
  height: 46.68px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.footer {
  background: #123478;
  width: 1918px;
  height: 72.43px;
  position: absolute;
  left: 0px;
  top: 805.57px;
}
.main {
  background: #ffffff;
  width: 1918px;
  height: 758.89px;
  position: absolute;
  left: 0px;
  top: 46.68px;
}
.hamburger-icon-svg-1 {
  width: 33px;
  height: 26.56px;
  position: absolute;
  left: 13px;
  top: 36.21px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
}
.tem-box {
  background: #d9d9d9;
  width: 528px;
  height: 747px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.tem-header {
  background: #282828;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 528px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.tem-main {
  background: #e6e6e6;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 528px;
  height: 703px;
  position: absolute;
  left: 0px;
  top: 44px;
}
.close {
  width: 44px;
  height: 23px;
  position: absolute;
  left: 469px;
  top: 12px;
  object-fit: cover;
}
.temperature {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  left: 12px;
  top: 5px;
  width: 294px;
  height: 36px;
  -webkit-text-stroke: 1px #000000;
}
.cz-1 {
  background: #fa8f8f;
  width: 488px;
  height: 32px;
  position: absolute;
  left: 20px;
  top: 78px;
}
.heater-bottom-top-cz-1 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: absolute;
  left: 29px;
  top: 83px;
  width: 348px;
  height: 22px;
}
.cz-1-box-1 {
  background: #ffffff;
  width: 201px;
  height: 32px;
  position: absolute;
  left: 20px;
  top: 111px;
}
.tic-4-1-1 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: absolute;
  left: 29px;
  top: 116px;
  width: 107px;
  height: 22px;
}
.cz-1-val-1 {
  background: #ffffff;
  width: 286px;
  height: 32px;
  position: absolute;
  left: 222px;
  top: 111px;
}
.cz-1-box-2 {
  background: #ffffff;
  width: 201px;
  height: 31px;
  position: absolute;
  left: 20px;
  top: 144px;
}
.tic-4-1-2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: absolute;
  left: 29px;
  top: 149px;
  width: 114px;
  height: 22px;
}
.cz-1-val-2 {
  background: #ffffff;
  width: 286px;
  height: 31px;
  position: absolute;
  left: 222px;
  top: 144px;
}
.cz-3 {
  background: #fa8f8f;
  width: 488px;
  height: 31px;
  position: absolute;
  left: 20px;
  top: 177px;
}
.heater-doors-cz-3 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: absolute;
  left: 29px;
  top: 181px;
  width: 263px;
  height: 22px;
}
.cz-3-box-1 {
  background: #ffffff;
  width: 201px;
  height: 31px;
  position: absolute;
  left: 20px;
  top: 209px;
}
.tic-4-3-1 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: absolute;
  left: 29px;
  top: 214px;
  width: 114px;
  height: 22px;
}
.cz-3-val-1 {
  background: #ffffff;
  width: 286px;
  height: 31px;
  position: absolute;
  left: 222px;
  top: 209px;
}
.cz-3-box-2 {
  background: #ffffff;
  width: 201px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 242px;
}
.tic-4-3-2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: absolute;
  left: 29px;
  top: 248px;
  width: 120px;
  height: 21px;
}
.cz-3-val-2 {
  background: #ffffff;
  width: 286px;
  height: 30px;
  position: absolute;
  left: 222px;
  top: 242px;
}
.cz-5 {
  background: #fa8f8f;
  width: 488px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 282px;
}
.heater-walls-cz-5 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: absolute;
  left: 29px;
  top: 286px;
  width: 251px;
  height: 20px;
}
.cz-5-box-1 {
  background: #ffffff;
  width: 201px;
  height: 31px;
  position: absolute;
  left: 20px;
  top: 314px;
}
.tic-4-5-1 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: absolute;
  left: 29px;
  top: 319px;
  width: 114px;
  height: 20px;
}
.cz-5-val-1 {
  background: #ffffff;
  width: 286px;
  height: 31px;
  position: absolute;
  left: 222px;
  top: 314px;
}
.cz-5-box-2 {
  background: #ffffff;
  width: 201px;
  height: 31px;
  position: absolute;
  left: 20px;
  top: 347px;
}
.tic-4-5-2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: absolute;
  left: 29px;
  top: 352px;
  width: 120px;
  height: 20px;
}
.cz-5-val-2 {
  background: #ffffff;
  width: 286px;
  height: 31px;
  position: absolute;
  left: 222px;
  top: 347px;
}
.load {
  background: #fa8f8f;
  width: 488px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 386px;
}
.load2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: absolute;
  left: 29px;
  top: 390px;
  width: 67px;
  height: 23px;
}
.load-box-1 {
  background: #ffffff;
  width: 201px;
  height: 31px;
  position: absolute;
  left: 20px;
  top: 418px;
}
.ti-4-61 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: absolute;
  left: 29px;
  top: 423px;
  width: 88px;
  height: 21px;
}
.load-val-1 {
  background: #ffffff;
  width: 286px;
  height: 31px;
  position: absolute;
  left: 222px;
  top: 418px;
}
.charge {
  background: #fa8f8f;
  width: 488px;
  height: 31px;
  position: absolute;
  left: 20px;
  top: 458px;
}
.charge-temperatures {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: absolute;
  left: 29px;
  top: 463px;
  width: 283px;
  height: 20px;
}
.charge-box-1 {
  background: #ffffff;
  width: 201px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 491px;
}
.ti-4-26 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: absolute;
  left: 29px;
  top: 496px;
  width: 94px;
  height: 20px;
}
.charge-val-1 {
  background: #ffffff;
  width: 286px;
  height: 30px;
  position: absolute;
  left: 222px;
  top: 491px;
}
.charge-box-2 {
  background: #ffffff;
  width: 201px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 524px;
}
.ti-4-27 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: absolute;
  left: 29px;
  top: 527px;
  width: 91px;
  height: 22px;
}
.charge-val-2 {
  background: #ffffff;
  width: 286px;
  height: 30px;
  position: absolute;
  left: 222px;
  top: 524px;
}
.charge-box-3 {
  background: #ffffff;
  width: 201px;
  height: 32px;
  position: absolute;
  left: 20px;
  top: 555px;
}
.ti-4-28 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: absolute;
  left: 29px;
  top: 560px;
  width: 94px;
  height: 22px;
}
.charge-val-3 {
  background: #ffffff;
  width: 286px;
  height: 32px;
  position: absolute;
  left: 222px;
  top: 555px;
}
.charge-box-4 {
  background: #ffffff;
  width: 201px;
  height: 32px;
  position: absolute;
  left: 20px;
  top: 588px;
}
.ti-4-29 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: absolute;
  left: 29px;
  top: 593px;
  width: 94px;
  height: 22px;
}
.charge-val-4 {
  background: #ffffff;
  width: 286px;
  height: 32px;
  position: absolute;
  left: 222px;
  top: 588px;
}
.fastcooling {
  background: #fa8f8f;
  width: 488px;
  height: 31px;
  position: absolute;
  left: 20px;
  top: 627px;
}
.fastcooling2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: absolute;
  left: 29px;
  top: 632px;
  width: 152px;
  height: 22px;
}
.fastcooling-box-1 {
  background: #ffffff;
  width: 201px;
  height: 33px;
  position: absolute;
  left: 20px;
  top: 659px;
}
.ti-12-7 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: absolute;
  left: 29px;
  top: 665px;
  width: 87px;
  height: 21px;
}
.fastcooling-val-1 {
  background: #ffffff;
  width: 286px;
  height: 33px;
  position: absolute;
  left: 222px;
  top: 659px;
}
.fastcooling-box-2 {
  background: #ffffff;
  width: 201px;
  height: 32px;
  position: absolute;
  left: 20px;
  top: 693px;
}
.ti-12-8 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11px;
  font-weight: 400;
  position: absolute;
  left: 29px;
  top: 698px;
  width: 88px;
  height: 21px;
}
.fastcooling-val-2 {
  background: #ffffff;
  width: 286px;
  height: 32px;
  position: absolute;
  left: 222px;
  top: 693px;
}
